html {
    font-size: 13pt;
  }
  
button {
    font-size: 1.1em;
    margin: 2px;
  }

.pub_authors {
    font-style: italic;
}
.pub_title {
    font-weight: bolder;
    font-size: 1.1em;
}

.flex-container {
  padding: 10px;
  margin: 10px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item {
  padding: 1px;
  width: 255px;
  height: 50px;
  margin: 2px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.flex-container ul {
  list-style: none;
}