{{ define "main" }}
  <article class="max-w-full">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/custom.css">
    </header>
    <section class="max-w-full mt-6 prose dark:prose-invert">
      {{ .Content | emojify }}
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}
